.msw-student-header {
  padding: 100px 30px;
}

.msw-student-header-back {
  font-size: 14px;
  letter-spacing: 0.3px;
  text-align: right;
  color: #6a00cf;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.msw-student-header-nav {
}


.msw-student-header-nav-name {
  font-size: 32px;
  letter-spacing: 0.6px;
  text-align: right;
  color: #222222;
}

.msw-student-header-nav-tabs {

}
