.msw-student-header {
  padding: 100px 30px;
}

.msw-student-header-back {
  text-align: right;
  display: flex;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.3px;
}

.msw-student-header-nav-tabs {
  .mat-tab-link {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #000000;
  }

  .mat-tab-nav-bar,
  .mat-tab-header {
    border-bottom-color: transparent;
  }

  .msw-student-tab-active {
    background-color: #fff;
  }
  .mat-tab-nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
