<div class="container">
    <h3 mat-dialog-title>הוספת משתמש חדש</h3>
    <mat-dialog-content>
      <form  class="mat-dialog-content" #formControl="ngForm">
        <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="שם פרטי" [(ngModel)]="data.firstname" name="firstname" required >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
  
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="שם משפחה" [(ngModel)]="data.lastname" name="lastName" required>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
  
        <div class="form">
            <mat-form-field color="accent">
                <mat-select placeholder="מין" [(ngModel)]="data.gender" name="gender" required>
                    <mat-option>בחר</mat-option>
                    <mat-option value="MALE">זכר</mat-option>
                    <mat-option value="FEMALE">נקבה</mat-option>
                </mat-select>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <!-- <div class="form">
            <mat-form-field color="accent">
              <mat-select placeholder="כיתה" formControlName="class" [(ngModel)]="data.class" [(value)]="data.class" name="class">
                <mat-option [value]="">בחר</mat-option>
              </mat-select>
              <mat-error *ngIf="selectGrade.hasError('required')">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div> -->

        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="שם משתמש" [(ngModel)]="data.username" name="username" required>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="סיסמא" [(ngModel)]="data.password" name="password" required >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button class="mat-raised-button" tabindex="-1" (click)="close()">סגור</button>
      <!-- <button [type]="submit" class="mat-raised-button mat-primary" (click)="updateDetails()" [disabled]="!formControl.valid" >עדכן משתמש</button> -->
      <button  class="mat-raised-button mat-primary" (click)="updateDetails()" [disabled]="!formControl.valid" >עדכן משתמש</button>

    </mat-dialog-actions>
  </div>
  