<app-session-header></app-session-header>
<div class="login-container"> 
    <form name="form" (ngSubmit)="f.form.valid && passChange()" #f="ngForm" novalidate>
          <div id="passChangeCard" *ngIf="!tokenFetchFailed;else err_message" class="login-card">
            <img src="assets/img/myway.png"/>
            <div class="msw-login-title">שלום {{ userToDisplay?.firstname }}</div>
            <div class="msw-login-subtitle msw-login-subtitle-small">על מנת להיכנס אל המערכת אנא הגדר סיסמא</div>
            <div class="card-form" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <div class="form-row">
                <mat-form-field
                  [hideRequiredMarker]="formFieldOptions.value.hideRequired"
                  [floatLabel]="formFieldOptions.value.floatLabel">
                  <input matInput 
                    placeholder="סיסמא" 
                    (blur)="onConfirmBlur()"
                    name="password" 
                    [(ngModel)]="model.password" 
                    #password="ngModel" 
                    required 
                    [type]="hidePassword ? 'password' : 'text'"/>
                  <mat-icon class="show-password-icon" matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
                <div *ngIf="f.submitted && !password.valid" class="help-block" data-test-id="empty-password-err">נא הכנס סיסמא</div>
              </div>
              <div class="form-row" [ngClass]="{ 'has-error': f.submitted && !matchFailed}">
                <mat-form-field
                  [hideRequiredMarker]="formFieldOptions.value.hideRequired"
                  [floatLabel]="formFieldOptions.value.floatLabel">
                  <input matInput 
                    placeholder="אישור סיסמא" 
                    (blur)="onConfirmBlur()"
                    name="passwordConfirm" 
                    [(ngModel)]="model.passwordConfirm" 
                    #passwordConfirm="ngModel" 
                    required 
                    [type]="hidePasswordConfirm ? 'password' : 'text'"> 
                  <mat-icon class="show-password-icon" matSuffix (click)="hidePasswordConfirm = !hidePasswordConfirm">{{hidePasswordConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
                <!-- <div *ngIf="f.submitted && !passwordConfirm.valid" class="help-block" data-test-id="empty-password-err">נא הכנס סיסמה</div> -->
                <div [hidden]="!matchFailed" class="help-block" data-test-id="not-match-pass-err">הסיסמאות אינן תואמות, אנא נסה שנית</div>
                <div [hidden]="!passUpdateFailed" class="help-block" data-test-id="not-match-pass-err">אירעה תקלה, אנא נסה שנית מאוחר יותר</div>
              </div>

            </div>
            <div class="card-footer">
              <div class="msw-login-checkbox" >
                <span >
                  <mat-checkbox  [checked]="rememberMe" (change)="rememberMe = !rememberMe" color="accent" >זכור אותי</mat-checkbox>
                </span>
              </div>
              <button mat-button class="btn btn-main" [disabled]="submitDisabled">כניסה</button>
              <!--<button mat-button (click)="loginBtn()">הרשמה</button>-->
            </div>
          </div>

          <ng-template #err_message>
                <div id="errMessage" class="login-card">
                    <img src="assets/img/msw-login-logo.png"/>
                    <div class="msw-login-title">נראה שאירעה תקלה... אנא נסה שנית</div>
                </div>
          </ng-template>

    </form>
</div>
<app-session-footer></app-session-footer>

