<div data-test-id="students-page" class="main-content msw-student-container">
  <div class="container-fluid">
    <div class="header-menu-container msw-table-tools-header">
      <div class="header-table-count">
        <div>
          <span class="header-table-count-label">תלמידים</span>
          <span class="header-table-count-number">({{ dataSource.data.length }})</span>
        </div>
      </div>
      <div class="example-header msw-table-tools-header">
        <button
          data-test-id="add-new-student-button"
          mat-raised-button
          color="primary"
          routerLink="/student/_new_"
          *ngIf="mayAddStudent"
        >
          <i class="material-icons"> add </i> הוסף תלמיד חדש
        </button>
      </div>
    </div>
    <div class="row msw-table-container">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-table
          [dataSource]="dataSource"
          class="msw-table"
          matSort
          matSortActive="studentName"
          matSortDirection="asc"
          matSortDisableClear
        >
          <ng-container matColumnDef="studentName">
            <mat-header-cell *matHeaderCellDef>
              <span class="pl-2" mat-sort-header>שם</span>
              <span (click)="toggleStudentNameFilter()">
                <mat-icon class="filter-toggle-button" *ngIf="!showStudentNameFilter" matPrefix>search</mat-icon>
              </span>
              <mat-form-field *ngIf="showStudentNameFilter" class="filter" floatLabel="never">
                <mat-icon matPrefix>search</mat-icon>
                <mat-label>חיפוש תלמיד</mat-label>
                <input
                  #studentNameField
                  matInput
                  [formControl]="studentNameFilter"
                  (focusout)="toggleStudentNameFilter()"
                />
                <button
                  mat-icon-button
                  matSuffix
                  *ngIf="studentNameFilter.value"
                  (click)="studentNameFilter.setValue('')"
                >
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [routerLink]="['/student', row._id]"
              >{{ row.firstname }} {{ row.lastname }}</mat-cell
            >
          </ng-container>

          <ng-container matColumnDef="gradeId">
            <mat-header-cell *matHeaderCellDef>
              <span class="pl-2" mat-sort-header>כיתה</span>
              <span (click)="toggleGradeIdFilter()">
                <mat-icon class="filter-toggle-button" *ngIf="!showGradeIdFilter" matPrefix>search</mat-icon>
              </span>
              <mat-form-field *ngIf="showGradeIdFilter" class="filter" floatLabel="never">
                <mat-icon matPrefix>search</mat-icon>
                <mat-label>חיפוש כיתה</mat-label>
                <input #gradeIdField matInput [formControl]="gradeIdFilter" (focusout)="toggleGradeIdFilter()" />
                <button mat-icon-button matSuffix *ngIf="gradeIdFilter.value" (click)="gradeIdFilter.setValue('')">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-form-field>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [routerLink]="['/student', row._id]">{{
              (row.class && row.class.name) || ''
            }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef>שם משתמש</mat-header-cell>
            <mat-cell *matCellDef="let row" class="username" [routerLink]="['/student', row._id]">{{
              row.username
            }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="deleteUser">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button
                class="delete-row-button"
                mat-icon-button
                color="primary"
                [attr.data-test-id]="'delete-user-button-' + row.username"
                [disabled]="!mayDeleteStudent"
                (click)="deleteStudent(row._id, row.firstname, row.lastname, row.gradeId, row.gender)"
              >
                <i class="material-icons"> delete </i>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <div *ngIf="showNoRecords" class="no-records-msg">
          <i class="material-icons md-48">info_outline</i>
          <h4>לא נמצאו תוצאות</h4>
        </div>
      </div>
    </div>
  </div>
</div>
