.msw-dialog {
    direction: rtl;
    text-align: right;
    padding: 0;
}
.mat-dialog-title {
    font: 600 20px Rubik;
    margin: 0 0 25px;
    padding: 12px 0;
    border-bottom: 3px solid #6a00cf;
}