@import '~app/app.component.scss';

* {
  direction: rtl;
  text-align: right;
  font-family: Rubik;
  font-style: normal;
  font-stretch: normal;
  text-align: right;
  color: rgba(0, 0, 0, 0.87);
}

.container {
  align-items: flex-start;
  width: 312px;
  padding: 0px;
}
.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.mat-dialog-actions button {
  text-align: center;
}
.mat-divider {
  border-bottom-color: #ff213c;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  margin-bottom: 28px;
}

.mat-dialog-title {
  line-height: normal;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-bottom: 19px;
}

.mat-dialog-content {
  line-height: 1.31;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.3px;
  height: 105px;
}
