$mat-header-row-height: 48px;
$mat-row-height: 50px;
$mat-row-horizontal-padding: 24px;

/**
 * Flex-based table structure
 */
mat-table {
  display: block;
  direction: rtl;
  font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
}

mat-paginator {
  direction: rtl;
}

mat-header-row {
  background-color: #f2f2f2;
  min-height: $mat-header-row-height;
}

mat-row,
mat-footer-row {
  min-height: $mat-row-height;
}

mat-row,
mat-header-row,
mat-footer-row {
  display: flex;
  // Define a border style, but then widths default to 3px. Reset them to 0px except the bottom
  // which should be 1px;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  align-items: center;
  box-sizing: border-box;

  // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
  // element that will stretch the row the correct height. See:
  // https://connect.microsoft.com/IE/feedback/details/802625
  &::after {
    display: inline-block;
    min-height: inherit;
    content: '';
  }
}

mat-cell:first-child,
mat-header-cell:first-child,
mat-footer-cell:first-child {
  padding-left: $mat-row-horizontal-padding;

  [dir='rtl'] & {
    padding-left: 0;
    padding-right: $mat-row-horizontal-padding;
  }
}

mat-cell:last-child,
mat-header-cell:last-child,
mat-footer-cell:last-child {
  padding-right: $mat-row-horizontal-padding;

  [dir='rtl'] & {
    padding-right: 0;
    padding-left: $mat-row-horizontal-padding;
  }
}

mat-cell,
mat-header-cell,
mat-footer-cell {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;
  min-height: inherit;
}

/**
 * Native HTML table structure
 */
table.mat-table {
  border-spacing: 0;
}

tr.mat-header-row {
  height: $mat-header-row-height;
}

tr.mat-row,
tr.mat-footer-row {
  height: $mat-row-height;
}

th.mat-header-cell {
  text-align: left;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 0;
  border-bottom: 1px solid;
}

th.mat-header-cell:first-child,
td.mat-cell:first-child,
td.mat-footer-cell:first-child {
  padding-left: $mat-row-horizontal-padding;
}

th.mat-header-cell:last-child,
td.mat-cell:last-child,
td.mat-footer-cell:last-child {
  padding-right: $mat-row-horizontal-padding;
}

.msw-table-tools-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

mat-row:hover {
  background-color: #e1ccf5;
  cursor: pointer;
  mat-cell {
    color: #8c37cd;
  }
  .delete-row-button {
    display: block;
  }
}

.delete-row-button {
  display: none;
}

.mat-raised-button.mat-primary {
  background-color: #6a00cf;
  border-radius: 3px;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ff0;
}

.header-table-count {
  width: 164px;
  height: 38px;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: right;
  color: #222222;
}
.header-table-count-number {
  font-size: 18px;
}

.header-table-count-label {
  padding-left: 10px;
}

.header-menu-container {
  padding-bottom: 29px;
}

.msw-table-container .mat-cell:last-child,
.msw-table-container .mat-header-cell:last-child {
  flex-grow: 0;
  flex-basis: 100px;
}
.msw-table-container .mat-header-cell {
  font-weight: bold;
}

.no-records-msg {
  padding: 100px;
  text-align: center;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
