<nav class="navbar navbar-expand-lg navbar-white  navbar-absolute fixed-top">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="https://www.tlv-edu.gov.il/sites/yachdav/Pages/Vision.aspx">
        <img class="logo-img" src="/assets/img/msw-logo.png"/>
        <img class="logo-img-tlv" src="/assets/img/tlv-logo-small-white.jpg"/>

      </a>
      <div class="msw-page-title-dropdown dropdown">
        <a class="" href="/" id="navbarDropdownMenuLink0" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <span class="msw-page-title">
              <span>{{getSelectedMenuItem()}}</span>
              <i class="material-icons">arrow_drop_down</i>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-link" aria-labelledby="navbarDropdownMenuLink">
            <div routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item"  data-test-id="header-nav-links">
              <a class="dropdown-item" [routerLink]="[menuItem.path]" (click)="selectMenuItem(menuItem)">
                {{menuItem.title}}
              </a>
            </div>

        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul *ngIf="currentUser" class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <span class="msw-header-user">
              שלום
            <span class="msw-header-user-name">{{currentUser}}</span>
            <i class="material-icons">arrow_drop_down</i>
            </span>

            <p>
              <span class="d-lg-none d-md-block">Some Actions</span>
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-link" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" id="logout" [routerLink]="['/login']">
                <i class="logout-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19,3 C20.11,3 21,3.9 21,5 L21,8 L19,8 L19,5 L5,5 L5,19 L19,19 L19,16 L21,16 L21,19 C21,20.1 20.11,21 19,21 L5,21 C3.9,21 3,20.1 3,19 L3,5 C3,3.9 3.9,3 5,3 L19,3 Z M15.5,17 L20.5,12 L15.5,7 L14.09,8.41 L16.67,11 L7,11 L7,13 L16.67,13 L14.09,15.59 L15.5,17 Z"/></svg>
                </i>
                יציאה מהמערכת
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
