<div class="login-container">
  <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
    <div class="login-card">
      <div class="msw-login-logo-ph"></div>
      <div class="msw-login-title">בדרכי שלי</div>
      <div class="msw-reset-title">שכחת סיסמא ?</div>
      <div class="msw-reset-subtitle">אין בעייה, הזן את כתובת המייל ואנו נשלח לך סיסמא חדשה</div>
      <div class="card-form" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <div class="form-row">
          <mat-form-field
            [hideRequiredMarker]="formFieldOptions.value.hideRequired"
            [floatLabel]="formFieldOptions.value.floatLabel">
            <input type="email" matInput placeholder="אימייל" name="email" [(ngModel)]="model.email" #email="ngModel" required/>
          </mat-form-field>
          <div *ngIf="f.submitted && !email.valid" class="help-block" data-test-id="empty-email-err">נא הכנס דוא״ל</div>
        </div>
        <a class="nav-link" routerLink="/login">נזכרתי בסיסמא</a>
      </div>
      <div class="card-footer">
        <button mat-button>שחזר סיסמא</button>
        <!--<button mat-button (click)="loginBtn()">הרשמה</button>-->
      </div>
    </div>
  </form>
</div>

