
<div class="msw-student-details-reminders">
  <mat-card *ngFor="let type of reminderTypes" class="student-reminders rehab selected-radius" (click)="updateStudentReminder(type[0], $event)">
    <div class="table">
      <div class="row">
        <div class="cell">
          <p>{{type[1]}}</p>
        </div>
        <div class="cell mat-slide-toggle">
          <mat-slide-toggle
            [checked]="rehabToggleMode"
            (change)="onToggleChanged(type[0], $event.checked)"
            (click)="$event.stopPropagation()"></mat-slide-toggle>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          ימים א-ה
        </div>
        <div class="cell">
          <p class="value">08:30, 09:30, 10:30, 11:30, 12:30, 13:30, 14:30, 15:30, 16:30</p>
        </div>
      </div>
      <div class="row">
        <div class="cell">
          יום ו
        </div>
        <div class="cell">
          <p class="value">08:30, 09:30, 10:30, 11:30, 12:30, 13:30</p>
        </div>
      </div>
    </div>
  </mat-card>
</div>

