
<div *ngIf="student" class="msw-student-details-reminders">
  <mat-card *ngFor="let reminder of student.reminders" class="student-reminders selected-radius"
            (click)="updateStudentReminder(reminder)">
    <div class="table">
      <div class="row">
        <div class="cell">
          <p>{{reminderType[reminder.type]}}</p>
        </div>
        <div class="cell mat-slide-toggle">
          <mat-slide-toggle
            [(ngModel)]="reminder.enabled"
            (click)="$event.stopPropagation()"></mat-slide-toggle>
        </div>
      </div>

      <div *ngFor="let slot of reminder.schedule" class="row">
        <div class="cell">
          {{slot.daysindex.join(',')}}
        </div>
        <div class="cell">
          <p class="value">{{slot.hours.join(',')}}</p>
        </div>
      </div>
    </div>
  </mat-card>
</div>

