
<div *ngIf="student" class="msw-student-details-reminders">
  <div class="msw-student-header-nav-name" *ngIf="!isNewStudent && student">
    {{ student.firstname }} {{ student.lastname }}
  </div>
  <mat-card *ngFor="let reminder of student.reminders" class="student-reminders selected-radius"
            (click)="showReminderDialog(reminder)">
    <div class="table">
      <header class="row">
        <div class="cell reminder-type">{{ reminderType[reminder.type] }}</div>
        <div class="cell mat-slide-toggle">
          <mat-slide-toggle
            [(ngModel)]="reminder.enabled"
            (click)="$event.stopPropagation()"
            (ngModelChange)="toggleActivity(reminder)"></mat-slide-toggle>
        </div>
      </header>
      <div class="empty-dialog-message" *ngIf="!reminder.schedule.length">
        <p>{{ emptyDialogString }}</p>
      </div>
      <div *ngFor="let slot of reminder.schedule" class="row">
        <div class="cell days">{{ getSelectedDays(slot) }}</div>
        <div class="cell hours">{{ getSelectedHours(slot) }}</div>
      </div>
    </div>
  </mat-card>
</div>

