<div class="main-content">
  <div class="container-fluid">
    <div class="header-menu-container msw-table-tools-header">
      <div class="header-table-count">
        <div>
          <span class="header-table-count-label">משתמשים</span>
          <span class="header-table-count-number">({{dataSource.data.length}})</span>
        </div>
      </div>
      <div class="example-header msw-table-tools-header">
        <button mat-raised-button color="primary" (click)="addNewUser()">
          <i class="material-icons">
            add
          </i>
          הוספת משתמש חדש
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-table #table [dataSource]="dataSource" class="msw-table"
                   matSort matSortActive="firstName" matSortDisableClear matSortDirection="asc">

          <!-- ID Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>שם</mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="updateUser(row._id, row.firstname, row.lastname, row.email, row.username)"> {{row.firstname}} {{ row.lastname }}</mat-cell>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="class">
            <mat-header-cell *matHeaderCellDef mat-sort-header>כיתה</mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="updateUser(row._id, row.firstname, row.lastname, row.email, row.username)">{{(row.Class && row.Class.name) || '' }}</mat-cell>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header>שם משתמש</mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="updateUser(row._id, row.firstname, row.lastname, row.email, row.username)">{{row.username}}</mat-cell>
          </ng-container>


          <!-- Name Column -->
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>סוג משתמש</mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="updateUser(row._id, row.firstname, row.lastname, row.email, row.username)">{{toHebrew(row.role)}}</mat-cell>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>אימייל</mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="updateUser(row._id, row.firstname, row.lastname, row.email, row.username)">{{row.email}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="recoverpassword">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" style="text-decoration: underline">שחזר סיסמא</button>
            </mat-cell>
          </ng-container>

          <!--&lt;!&ndash; State Column &ndash;&gt;-->
          <ng-container matColumnDef="deleteUser">-->
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button color="primary" (click)="deleteUser(row._id, row.firstname, row.lastname)"><i class="material-icons"> delete </i></button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
