<div class="container add-update-block-modal">
  <h3 mat-dialog-title>מקטע חסום</h3>

<mat-divider></mat-divider>
 <mat-dialog-content>
   <div>
     שים לב: בהגדרת מקטע חסום חובה לציין שתי נקודות הסמוכות זו לזו
   </div>

  <form class="mat-dialog-content" [formGroup]="form" #formControl="ngForm" (submit)="submitForm()">
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input formControlName="reason" class="form-control" placeholder="סיבת חסימה" [(ngModel)]="data.reason" name="reason"  >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input formControlName="from" class="form-control" placeholder="מנקודה" [(ngModel)]="data.from" name="from"  >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input formControlName="to" class="form-control" placeholder="עד נקודה" [(ngModel)]="data.to" name="to"  >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  </form>
 </mat-dialog-content>
  <mat-dialog-actions>
    <button class="mat-button"  (click)="close()">ביטול</button>
    <button type="submit" class="mat-raised-button mat-primary" (click)="confirmAdd(this.form.value)">
      {{data.isNewBlock ? 'הוסף מקטע חסום' :
    'עדכן'}}
      </button>
  </mat-dialog-actions>
</div>
