
<div class="container add-update-block-modal">
  <h3 mat-dialog-title>מקטע חסום</h3>

<mat-divider></mat-divider>
 <mat-dialog-content>
   <div>
     שים לב: בהגדרת מקטע חסום חובה לציין שתי נקודות הסמוכות זו לזו
   </div>

   <form class="mat-dialog-content" #formControl="ngForm" [formGroup]="form" novalidate >
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input formControlName="reason" placeholder="סיבת חסימה" [(ngModel)]="data.reason" name="reason" required>
        <mat-error *ngIf="formControl.invalid && (!formControl.pristine)">סיבת חסימה הינו שדה חובה</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input formControlName="from" placeholder="מנקודה" [(ngModel)]="data.from" name="from" required >
        <mat-error *ngIf="formControl.invalid && (!formControl.pristine)">מנקודה הינו שדה חובה</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input formControlName="to" placeholder="עד נקודה" [(ngModel)]="data.to" name="to" required >
        <mat-error *ngIf="formControl.invalid && (!formControl.pristine)">עד נקודה הינו שדה חובה</mat-error>
      </mat-form-field>
    </div>
   </form>
 </mat-dialog-content>
  <mat-dialog-actions>
    <button class="mat-button" (click)="close()">ביטול</button>

    <button
      type="submit"
      class="mat-raised-button mat-primary"
      [disabled]="!formControl.valid"
      (click)="confirmAdd(this.form.value)">
      {{data.isNewBlock ? 'הוסף מקטע חסום' :
    'עדכן'}}
      </button>
  </mat-dialog-actions>
</div>

