<div class="container">
    <h3 mat-dialog-title color="accent">מחיקת שיעור</h3>
    <mat-divider></mat-divider>
    <div mat-dialog-content>
        <br>
      האם אתה בטוח שברצונך למחוק את השיעור {{scheduleDialogData.lesson.title}} מהמערכת?
    </div>

    <div mat-dialog-actions>
      <button mat-button class="msw-button-cancel"  (click)="onNoClick()" tabindex="-1">ביטול</button>
      <button mat-button class="msw-button-delete"  id="confirm-delete-timeslot" [mat-dialog-close]=true (click)="confirmDelete()">אישור</button>    </div>
  </div>
