@import '../../../../../../assets/scss/msw-table';

.msw-table-container {
  height: calc(100% - 64px);
  overflow-y: auto;

  .mat-cell,
  .mat-header-cell {
    cursor: pointer;

    &:last-child {
      flex-basis: 58px;
    }
    &:not(:first-child) {
      justify-content: right;
    }

    .delete-row-button.mat-icon-button.mat-primary {
      color: #8b66a7;
    }

    text-align: right;

    img {
      width: 90%;
      height: auto;
    }
  }

  .add-point {
    color: #8b66a7;
    font-size: 14px;
    font-weight: 700;
    display: block;
    direction: rtl;
    text-align: right;
    padding: 20px;
    letter-spacing: 1.1px;
    cursor: pointer;
  }
}
