:host {
  height: 100%;
  background-color: #fff;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

}
.login-container{
  background-color: #fff;
  height: 100%;
}

.login-card {
  -moz-animation-duration: 600ms;
  -moz-animation-fill-mode: forwards;
  -moz-animation-name: card;
  -o-animation-duration: 600ms;
  -o-animation-fill-mode: forwards;
  -o-animation-name: card;
  -webkit-animation-duration: 600ms;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: card;
  align-items: center;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
  animation-name: card;
  display: flex;
  flex-direction: column;
  height: 516px;
  padding: 20px;
  position: absolute;
  width: 520px;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

@-webkit-keyframes card {
  from {top: -40px;}
  to {top: 0;}
}

@keyframes card {
  from {top: -40px;}
  to {top: 0;}
}
.msw-login-logo-ph {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #d8d8d8;
  margin-top: 20px;
}
.msw-login-title {
  margin-top: 20px;
  height: 24px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #6a00cf;
}

.msw-login-subtitle {
  margin-top: 12px;
  font-size: 21px;
  letter-spacing: 0.4px;
  color: #222222;
}

.form-row, .card-form, .mat-input-container{
  width: 100%;
}

.card-form{
  padding: 15px 80px;
}

.form-row{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.form-row i{
  position: relative;
  top: -5px;
  margin-right: 15px;
  color: #555;
}

.card-footer{
  align-items: center;
  border: 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 80px;
  width: 100%;
}

.card-footer button{
  background-color: #6a00cf;
  border-radius: 3px;
  color: #fff;
  height: 36px;
  width: 183px;
}


.mat-checkbox-checked {
  
  /deep/ .mat-checkbox-background {
    background-color:#6a00cf;
  }  
}

.checkbox{

//  background-color: aqua;
}







