<div class="login-container">
    <div class ="msw-login-header">
        <img src="/assets/img/school-logo.png" alt="" align="right">ביה"ס יחדיו
      </div>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="login-card">
            <div class="msw-login-logo-ph">
              <img src="/assets/img/msw-proj-logo.png" alt="" width="80" height="80" style="background-color:white;">
            </div>
            <div class="msw-login-title">בדרכי שלי</div>
            <div class="msw-login-subtitle">כניסה למערכת הניהול - ביה״ס יחדיו</div>
            <div class="card-form" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <div class="form-row">
                <mat-form-field
                  [hideRequiredMarker]="formFieldOptions.value.hideRequired"
                  [floatLabel]="formFieldOptions.value.floatLabel">
                  <input type="text" matInput placeholder="שם משתמש" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
                </mat-form-field>
                <div *ngIf="f.submitted && !username.valid" class="help-block" data-test-id="empty-username-err">נא הכנס שם משתמש</div>
              </div>
              <div class="form-row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <mat-form-field
                  [hideRequiredMarker]="formFieldOptions.value.hideRequired"
                  [floatLabel]="formFieldOptions.value.floatLabel">
                  <input matInput placeholder="סיסמה" name="password" [(ngModel)]="model.password" #password="ngModel" required [type]="hidePassword ? 'password' : 'text'">
                  <mat-icon class="show-password-icon" matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
                <div *ngIf="f.submitted && !password.valid" class="help-block" data-test-id="empty-password-err">נא הכנס סיסמה</div>
                <div *ngIf="loginFailed" class="help-block" data-test-id="wrong-credentials-err">שם משתמש/סיסמה לא נכונים. אנא נסה שנית</div>
              </div>

            </div>
            <div class="card-footer">
              <div class="msw-login-checkbox" >
                <span >
                  <mat-checkbox  [checked]="rememberMe" (change)="rememberMe = !rememberMe" color="accent" >זכור אותי</mat-checkbox>
                </span>
              </div>
              <button mat-button>כניסה</button>
              <!--<button mat-button (click)="loginBtn()">הרשמה</button>-->
            </div>
            </div>
        </form>
        <div class ="msw-login-footer" >
            <img src="/assets/img/Tinti.png" alt="" valign="bottom" style="margin-right: 25%;">
            <div style="background-color: lightgray; height:48.2px;"></div>
        </div>
</div>

