<div class="login-container">
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="login-card">
            <!--<p class="tip">Or Be Classical</p>-->
            <div class="msw-login-logo-ph"></div>
            <div class="msw-login-title">בדרכי שלי</div>
            <div class="msw-login-subtitle">כניסה למערכת הניהול - ביה״ס יחדיו</div>
            <div class="card-form" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <div class="form-row">
                <mat-input-container color="accent">
                  <input type="text" matInput placeholder="שם משתמש" name="username" [(ngModel)]="model.username" #username="ngModel" required/>
                </mat-input-container>
                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
              </div>
              <div class="form-row" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <mat-input-container color="accent">
                  <input type="password" matInput placeholder="סיסמא" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
                </mat-input-container>
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
              </div>

            </div>
            <div class="card-footer">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [checked]="rememberMe" (change)="rememberMe = !rememberMe" />זכור אותי
                </label>
              </div>
              <button mat-button>Login</button>
              <!--<button mat-button (click)="loginBtn()">Register</button>-->
            </div>
          </div>
    </form>
</div>
<div *ngIf="loginFailed">Invalid username or password</div>
