<div class="msw-wrapper wrapper">
  <div class="main-panel">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <app-spinner></app-spinner>
    <app-footer></app-footer>
  </div>
    <div class="no-mobile" ngClass="{{isSupportedBrowser() ? 'good-browser' : 'bad-browser'}}">
      <img  alt="" src="/assets/img/myway.png">
      <h6>מצטערים, מערכת הניהול לא נתמכת ממכשיר/ דפדפן זה. <br />
      אנא התחבר מהמחשב באמצעות דפדפן כרום.
      </h6>

      <div class="msw-login-footer">
        <img class="img" src="/assets/img/tinti.png" />
        <div class="gray-bar"></div>
      </div>

    </div>
</div>
