@import '../../../../assets/scss/dialogs.scss';
.timeslot-subtitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.timeslot-info {
  font: 600 16px Rubik;
  color: rgba(0, 0, 0, 0.87);
  direction: initial;
}
.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.mat-dialog-actions button {
  text-align: center;
  box-shadow: none;
}
