<div class="msw-table-container">
  <mat-table [dataSource]="locations" class="msw-table">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>נקודה</mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="onUpdate(row)">{{row.location_id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="label">
      <mat-header-cell *matHeaderCellDef>שם</mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="onUpdate(row)">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef>סמל</mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="onUpdate(row)">{{row.icon}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>סוג</mat-header-cell>
      <mat-cell *matCellDef="let row">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button class="delete-row-button" mat-icon-button color="primary" [attr.data-test-id]="'delete-block-button-' + 'A' + 'B'"
                (click)="onDelete(row)"><i class="material-icons"> delete </i> </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <a class="add-block" (click)="onUpdate()">+ הוסף איזור</a>
</div >

