<div class="container">
  <h3 mat-dialog-title>הוספת משתמש חדש</h3>
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <form  class="mat-dialog-content" [formGroup]="form" #formControl="ngForm" novalidate>
      <div class="msw-div-column-right">
          <div class="msw-form-row">
              <mat-form-field color="primary">
                <input matInput #input formControlName="firstName" placeholder="שם פרטי" [(ngModel)]="data.firstname"
                  name="firstName" required>
                  <button tabindex=-1 mat-button *ngIf="data.firstname" matSuffix mat-icon-button aria-label="Clear" (click)="data.firstname=''">
                    <mat-icon>close</mat-icon>
                  </button>            
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="msw-form-row">
                <mat-form-field color="primary">
                  <input matInput #input formControlName="userName" placeholder="שם משתמש" [(ngModel)]="data.username"
                    name="userName" required >
                    <button tabindex=-1 mat-button *ngIf="data.username" matSuffix mat-icon-button aria-label="Clear" (click)="data.username=''">
                      <mat-icon>close</mat-icon>
                    </button>            
                  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
              <div class="msw-form-row">
                  <mat-form-field color="primary">
                    <mat-select placeholder="סוג משתמש" formControlName="userType" [(ngModel)]="data.role" name="userType" (change)="onUserTypeChange($event)"
                      required>
                      <mat-option>בחר</mat-option>
                      <mat-option *ngFor="let userTypeKey of userTypeKeys" [value]="userTypeKey">
                        {{userTypes[userTypeKey]}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="selectUserType.hasError('required')">אנא בחר סוג משתמש</mat-error>
                  </mat-form-field>
                </div>
      </div>      
      <div class="msw-div-column-left">
          <div class="msw-form-row">
              <mat-form-field color="primary">
                <input matInput #input formControlName="lastName" placeholder="שם משפחה" [(ngModel)]="data.lastname"
                  name="lastName" required>
                  <button tabindex=-1 mat-button *ngIf="data.lastname" matSuffix mat-icon-button aria-label="Clear" (click)="data.lastname=''">
                    <mat-icon>close</mat-icon>
                  </button>            
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="msw-form-row">
                <mat-form-field color="primary">
                <input matInput placeholder="אימייל" [formControl]="emailFormControl" [(ngModel)]="data.email" name="email"
                       [errorStateMatcher]="matcher">
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  כתובת אמייל לא חוקית. אנא נסה שנית
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  אימייל הינו שדה חובה
                </mat-error>
                <button tabindex=-1 mat-button *ngIf="data.email" matSuffix mat-icon-button aria-label="Clear" (click)="data.email=''">
                  <mat-icon>close</mat-icon>
                </button>            
              </mat-form-field>
              </div>
              <div class="msw-form-row" >
                  <mat-form-field color="primary" >
                    <mat-select  placeholder="כיתה" [formControl]="selectGradeConrol" [(ngModel)]="data.Class" name="selectGradeConrol" [(value)]="data.Class" (change)="onUserTypeChange($event)">
                    <mat-option>בחר</mat-option>
                    <mat-option  *ngFor="let clss of allClasses" [value]="clss">
                      {{clss.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="selectGradeConrol.hasError('required')">אנא בחר כיתה</mat-error>
                  </mat-form-field>
                </div>
      </div>
    </form>
  </mat-dialog-content>

  <div mat-dialog-actions>
    <button mat-button class="msw-button-cancel" tabindex="-1" (click)="close()" >ביטול</button>
    <button mat-button class="msw-button-add"  (click)="confirmAdd(this.form.value)" [disabled]="!form.hasError" >הוסף משתמש</button>
  </div>
</div>
