@import '~app/app.component.scss';

* {
  direction: rtl;
  text-align: right;
}

mat-dialog-actions {
  display: flex;
  justify-content: space-between;
}

mat-dialog-actions button {
  text-align: center;
}

.mat-dialog-title {
  vertical-align: text-top;
  height: 24px;
  margin-bottom: 12px;
}

.container {
  padding: 0%;
  //  background-color:orange;
  margin: 0%;
  align-items: flex-start;
  //  width:272px;
}

.mat-divider {
  border-bottom-color: #6a00cf;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  margin-bottom: 12px;
}
