<div class="container">
  <h3 mat-dialog-title>עריכת תזכורת גמילה</h3>
  <mat-divider></mat-divider>
  <!--<app-user-details-form [options]="formOptions" [data]="dialogData" (formSubmit)="submitForm($event)" (cancel)="close()"></app-user-details-form>-->

  <div class="selection-block" *ngFor="let block of selectionBlocks">
    <div class="day">
      <label>יום</label>
      <div class="selections">
        <div [ngClass]="{'selected-day' : day.selected}" class="day-box" *ngFor="let day of block.days" (click)="daySelection(day)">{{day.day}}</div>
      </div>
    </div>

    <div class="hour">
      <label>שעה</label>
      <br>
      <mat-form-field  *ngFor="let hourSelectionItem of block.hourSelections; let i = index" class="hour-selection">
        <mat-select (change)="onSelectedHour($event.target.value)" [formControl]="hours">
          <mat-option *ngFor="let hour of block.hoursList" [value]="hour">{{hour}}</mat-option>
        </mat-select>
      </mat-form-field>
      <i class="add-select material-icons" (click)="addHourSelection(block)"> add </i>
    </div>
  </div>

  <div class="add-reminder">
    <hr>
    <button mat-button class="msw-button-cancel" (click)="addReminder()">+ הוסף יום ושעה</button>
  </div>

  <div mat-dialog-actions>
    <button type="button" mat-button class="msw-button-cancel" tabindex="-1" (click)="close()">ביטול</button>
    <!--<button type="submit" mat-button class="msw-button-submit" [disabled]="!formControl.valid">{{options.submitButtonLabel}}</button>-->
    <button type="submit" mat-button class="msw-button-submit">{{options.submitButtonLabel}}</button>
  </div>
</div>
