<div class="container">
  <h3 mat-dialog-title>עריכת תזכורת {{reminderType[data.type]}}</h3>
  <mat-divider></mat-divider>
  <!--<app-user-details-form [options]="formOptions" [data]="dialogData" (formSubmit)="submitForm($event)" (cancel)="close()"></app-user-details-form>-->

  <div class="selection-block" *ngFor="let block of data.schedule">
    <div class="day">
      <label>יום</label>
      <div class="selections">
        <div *ngFor="let day of dialogData.days; let i=index"
          [class.selected-day]="isDaySelected(i, block)" class="day-box" (click)="toggleDay(i, block)">
          {{day}}
        </div>
      </div>
      <mat-error class="error-msg" *ngIf="!block.daysindex.size && dirty">לא נבחר יום</mat-error>
    </div>

    <div class="hour">
      <label class="hour-label">שעה</label>
      <span class="hour-selection" *ngFor="let selectedHour of block.hours">
        {{selectedHour}}
        <i class="material-icons" (click)="removeHour(selectedHour, block)">close</i>
      </span>
      <mat-form-field *ngIf="hourSelectorEnabled" class="hour-selection">
        <mat-select (ngModelChange)="selectHour($event, block)" [formControl]="hours">
            <mat-option disabled>בחר</mat-option>
            <mat-option *ngFor="let hour of dialogData.hours" [value]="hour">{{hour}}</mat-option>
          </mat-select>
      </mat-form-field>
      <i *ngIf="!hourSelectorEnabled" class="add-select material-icons" (click)="hourSelectorEnable()"> add </i>
    <hr>
    </div>
  </div>

  <div class="add-reminder">
    <button mat-button class="msw-button-cancel" (click)="addReminder()">+ הוסף יום ושעה</button>
  </div>

  <div mat-dialog-actions>
    <button type="button" mat-button class="msw-button-cancel" tabindex="-1" (click)="close()">ביטול</button>
    <button type="button" mat-button class="msw-button-submit" (click)="close(data)">{{options.submitButtonLabel}}</button>
  </div>
</div>
