@import '../../../../assets/scss/msw-table';
.msw-maps-container {
  height: calc(100vh - 155px);

  .container-fluid {
    height: calc(100% - 75px);
  }

  .maps-body {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .maps-poi-list {
    background-color: #fff;
    flex-basis: 193px;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100%;
  }
  .map-container {
    flex-grow: 1;
    height: 100%;
    margin: 0 8px;

    img {
      width: 100%;
    }
  }
}
