<div data-test-id="maps-page" class="main-content msw-maps-container">
  <div class="container-fluid">
    <div class="header-menu-container msw-table-tools-header">
      <div class="header-table-count">
        <div>
          <span class="header-table-count-label">ניהול מפות</span>
        </div>
      </div>
      <div class="example-header msw-table-tools-header">
        <button data-test-id="add-map-button" mat-raised-button color="primary" (click)="addMap()">
          <i class="material-icons">
            add
          </i>
          הוסף מפה
        </button>
      </div>
    </div>

    <div class="maps-body">
      <div class="maps-poi-list">
        <app-map-floor-list (change)="onFloorChange($event)"></app-map-floor-list>
      </div>

      <div class="map-container">
        <img [src]="imagePath">
      </div>
      <div class="map-control">
        <app-map-tab-manager></app-map-tab-manager>
      </div>
    </div>
  </div>
</div>
