<div class="container">
  <h3 mat-dialog-title color="accent">מחיקת זמן אי פעילות</h3>
  <mat-divider></mat-divider>
  <div mat-dialog-content>
    <br>
    האם אתה בטוח שברצונך למחוק את {{data.title}}
  </div>

  <div mat-dialog-actions>
    <button button mat-button class="msw-button-cancel"  (click)="onNoClick()" tabindex="-1" >ביטול</button>
    <button button mat-button class="msw-button-delete" data-test-id="delete-button" [mat-dialog-close]=true (click)="confirmDelete()">מחק</button>
  </div>
</div>
