.class-details-container {
  direction: rtl;
  text-align: right;
  h2 {
    font-size: 32px;
  }
}
.class-detail-field {
  display: inline-block;
  color: #222;
  margin: 5px 20px;
  max-width: 100px;
}

.back-link {
  width: 64px;
  height: 17px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
}
