@import '../../../../app.component.scss';

.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

* {
  direction: rtl;
  text-align: right;
  font-family: Rubik;
  font-style: normal;
  font-stretch: normal;
  text-align: right;
  color: rgba(0, 0, 0, 0.87);
}

.container {
  align-items: flex-start;
  width: 620px;
  height: 550px;
  padding: 0px;
}
.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.mat-dialog-actions button {
  text-align: center;
  width: 109.7px;
  height: 36px;
  border-radius: 3px;
}

.mat-dialog-submit {
  text-align: center;
  width: 109.7px;
  height: 36px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #8b66a7;
}

.mat-divider {
  border-bottom-color: #8b66a7;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  margin-bottom: 28px;
}

.mat-dialog-title {
  line-height: normal;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  width: 312px;
  margin-bottom: 19px;
}

.mat-dialog-content {
  line-height: 1.31;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1.3px;
  height: 1005px;
}

.icon-list-container {
  width: 572px;
  height: 240px;
  background-color: #fafafa;
  padding: 9px;
}
