$purple: #6a00cf;
$blue-light: #009fdb;
$white: #fff;
$gray-5a: #5a5a5a;
$gray-dark: #222;
$gray-19: #191919;
$gray-75: #757575;
$gray-f2: #f2f2f2;
$gray-bg: #fafafa;
$gray-e0: #e0e0e0;
$black: #000000;





// #4a4a4a
// #9b9b9b
// rgba(0, 0, 0, 0.87)
// #4285f4