html,
body {
  font-family: 'Rubik', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.msw-ui-kit-container {
  border: 1px solid #6a00cf;
  height: 100%;
}
.msw-ui-kit-container-display-zone {
  padding: 20px;
}
.msw-header {
  height: 60px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.msw-title {
  width: 164px;
  height: 38px;
  font-size: 32px;
  letter-spacing: 0.6px;
  color: #222222;
}
.msw-button {
  border: 0 none;
  border-radius: 3px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.3px;
}
.msw-button .material-icons {
  vertical-align: middle;
}
.msw-button--large-purple {
  border: 0 none;
  border-radius: 3px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.3px;
  background-color: #6a00cf;
  width: 168px;
  height: 32px;
}
.msw-button--large-purple .material-icons {
  vertical-align: middle;
}
.msw-button--large-blue {
  border: 0 none;
  border-radius: 3px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.3px;
  background-color: #009fdb;
  width: 168px;
  height: 32px;
}
.msw-button--large-blue .material-icons {
  vertical-align: middle;
}
.msw-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: right;
}
.msw-table .msw-table-head-cell,
.msw-table .msw-table-body-cell {
  padding: 10px;
}
.msw-table .msw-table-head-cell {
  background-color: #f2f2f2;
  height: 48px;
}
.msw-table .msw-table-body-cell {
  background-color: #ffffff;
}
.msw-table .msw-table-row {
  border-bottom: 1px solid #e0e0e0;
  height: 50px;
}
.msw-table .msw-table-row:hover .msw-table-body-cell {
  background-color: #ddc7f1;
}
.msw-table--purple {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: right;
}
.msw-table--purple .msw-table-head-cell,
.msw-table--purple .msw-table-body-cell {
  padding: 10px;
}
.msw-table--purple .msw-table-head-cell {
  background-color: #f2f2f2;
  height: 48px;
}
.msw-table--purple .msw-table-body-cell {
  background-color: #ffffff;
}
.msw-table--purple .msw-table-row {
  border-bottom: 1px solid #e0e0e0;
  height: 50px;
}
.msw-table--purple .msw-table-row:hover .msw-table-body-cell {
  background-color: #ddc7f1;
}
.msw-table--purple .msw-table-row:hover .msw-table-body-cell {
  background-color: #ddc7f1;
}
.msw-table--blue {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: right;
}
.msw-table--blue .msw-table-head-cell,
.msw-table--blue .msw-table-body-cell {
  padding: 10px;
}
.msw-table--blue .msw-table-head-cell {
  background-color: #f2f2f2;
  height: 48px;
}
.msw-table--blue .msw-table-body-cell {
  background-color: #ffffff;
}
.msw-table--blue .msw-table-row {
  border-bottom: 1px solid #e0e0e0;
  height: 50px;
}
.msw-table--blue .msw-table-row:hover .msw-table-body-cell {
  background-color: #ddc7f1;
}
.msw-table--blue .msw-table-row:hover .msw-table-body-cell {
  background-color: #dff5ff;
}
.msw-checkbox input {
  visibility: hidden;
  height: 0;
  width: 0;
  position: fixed;
}
.msw-checkbox input:checked + .msw-checkbox-box {
  background-color: #009fdb;
  border: 0 none;
}
.msw-checkbox input:checked + .msw-checkbox-box:before {
  content: '✓';
  color: #ffffff;
}
.msw-checkbox-box {
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  vertical-align: middle;
}
.msw-checkbox-label {
  vertical-align: middle;
}
