@import '../../../assets/scss/msw-table';

.header-table-count-label {
  font-size: 21px;
}

.msw-nat-table-event {
  overflow: hidden;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
