<div data-test-id="lessons-page" class="main-content">
  <div class="container-fluid">
    <div class="header-menu-container msw-table-tools-header">
 
       <div >
         שיעורים ({{dataSource.data.length}}) 
       </div>

      <div class="example-header">
        <button mat-raised-button color="primary" (click)="addNewLesson()">הוסף שיעור חדש</button>
      </div>

    </div>
    <div class="row">   
        <div class="col-lg-12 col-md-12 col-sm-12">
            <mat-table #table [dataSource]="dataSource" class="msw-table" 
            matSort matSortActive="title" matSortDisableClear matSortDirection="asc">

                <!-- Name Column -->
                <ng-container matColumnDef="title">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> שם שיעור</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.title}}</mat-cell>
                </ng-container>
      
                <!-- Icon Column -->
                <ng-container matColumnDef="icon">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>סימול</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{row.icon}}</mat-cell>
                </ng-container>
      
                <ng-container matColumnDef="deleteLesson">-->
                    <mat-header-cell *matHeaderCellDef>מחיקת שיעור</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <button mat-icon-button color="primary" (click)="deleteLesson(row._id)"><i class="material-icons"> delete </i></button>
                    </mat-cell>
                  </ng-container>
    
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
            </mat-table>
          </div>  
   </div>
</div>
