@import '~assets/scss/msw-table';

img {
  width: 65.1px;
  height: 59.2px;
}

.msw-lesson-table {
  .mat-header-cell:first-child {
    max-width: 32.5%;
  }
  .mat-cell:first-child {
    max-width: 32.5%;
  }
}
