<div class="msw-student-body-ph">
  <div class="msw-student-header-nav-name" *ngIf="!isNewStudent && student">
    {{ student.firstname }} {{ student.lastname }}
  </div>
  <div class="msw-student-body">
    <div class="msw-student-user-pic-ph">
      <img src="http://via.placeholder.com/140x100">
    </div>
    <div class="msw-student-user-form">
      <form class="msw-student-details-form" #studentDetailsForm="ngForm" *ngIf="student">

        <div class="msw-student-main-details">
          <mat-form-field class="firstname">
            <input matInput placeholder="שם פרטי" [(ngModel)]="student.firstname" name="firstname" #firstName="ngModel"
              required>
            <mat-error data-test-id="firstname-err" *ngIf="firstName.invalid">שם פרטי הינו שדה חובה</mat-error>
          </mat-form-field>
          <mat-form-field class="lastname">
            <input matInput placeholder="שם משפחה" [(ngModel)]="student.lastname" name="lastname" #lastName="ngModel"
              required>
            <mat-error data-test-id="lastname-err" *ngIf="lastName.invalid">שם משפחה הינו שדה חובה</mat-error>

          </mat-form-field>
          <div class="msw-student-details-gender-switch">
            <div class="msw-student-details-gender">מין</div>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="student.gender" name="gender"
              required>
              <mat-button-toggle value="MALE">
                <i class="material-icons"> face </i>
              </mat-button-toggle>
              <mat-button-toggle value="FEMALE">
                <i class="material-icons"> face </i>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <mat-form-field class="classname">
          <mat-select placeholder="כיתה" [(ngModel)]="student.class._id" #classId="ngModel" name="class_id" required>
            <mat-option *ngFor="let classname of classes" [value]="classname._id">
              {{classname.name}}
            </mat-option>
          </mat-select>
          <mat-error data-test-id="class-id-err" *ngIf="classId.hasError('required')">כיתה הינו שדה חובה</mat-error>
        </mat-form-field>

        <mat-form-field class="username">
          <input matInput placeholder="שם משתמש" [(ngModel)]="student.username" name="username" #username="ngModel"
            autocomplete="new-username" required [minlength]="5" [pattern]="'^[א-ת]+$'">
          <mat-error data-test-id="username-err" *ngIf="username.hasError('required')">שם משתמש הינו שדה חובה</mat-error>
          <mat-error data-test-id="username-format-err" *ngIf="username.hasError('minlength') || username.hasError('pattern')">שם
            משתמש חייב להיות לפחות חמישה תווים בעברית</mat-error>
        </mat-form-field>
        <mat-form-field class="password">
          <input matInput placeholder="סיסמא" type="password" [(ngModel)]="student.password" #password="ngModel" name="password"
            autocomplete="new-password" required>
          <mat-error data-test-id="password-err" *ngIf="!password.valid" class="help-block">נא הכנס סיסמה</mat-error>
        </mat-form-field>

        <div mat-dialog-actions>
          <button *ngIf="!changesWhereSaved" mat-raised-button color="primary" data-test-id="save-button" class="msw-button-add"
            (click)="isNewStudent ? addStudent() : updateStudent(studentDetailsForm)" [disabled]="!studentDetailsForm.valid">שמור</button>
          <button *ngIf="changesWhereSaved" mat-raised-button color="accent" data-test-id="saved-button" class="msw-button-saved-indicator">
            נשמר
            <i class="material-icons">
              done
            </i>
          </button>
          <mat-error data-test-id="save-err" *ngIf="saveFailed" class="help-block">השמירה נכשלה. אנא נסה שנית</mat-error>
        </div>
      </form>
    </div>
  </div>
</div>