<div class="msw-student-body-ph">
  <div class="msw-student-header-nav-name" *ngIf="!isNewStudent && student">
    {{ student.firstname }} {{ student.lastname }}
  </div>
  <div class="msw-student-body">
    <div class="msw-student-user-pic-ph">
      <img src="http://via.placeholder.com/140x100">
    </div>
    <div class="msw-student-user-form">
      <form class="msw-student-details-form" #studentDetailsForm="ngForm" *ngIf="student">

        <div class="msw-student-main-details">
          <mat-form-field class="firstname">
            <input matInput placeholder="שם פרטי" [(ngModel)]="student.firstname" name="firstname" #firstName="ngModel" required>
            <mat-error data-test-id="firstname-err" *ngIf="firstName.invalid">שם פרטי הינו שדה חובה</mat-error>
          </mat-form-field>
          <mat-form-field class="lastname">
            <input matInput placeholder="שם משפחה" [(ngModel)]="student.lastname" name="lastname" #lastName="ngModel" required>
            <mat-error data-test-id="lastname-err" *ngIf="lastName.invalid">שם משפחה הינו שדה חובה</mat-error>

          </mat-form-field>
          <div class="msw-student-details-gender-switch">
            <div class="msw-student-details-gender">מין</div>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="student.gender" name="gender" required>
              <mat-button-toggle value="FEMALE">
                <i class="material-icons"> face </i>
              </mat-button-toggle>
              <mat-button-toggle value="MALE">
                <i class="material-icons"> face </i>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <mat-form-field class="classname">
          <mat-select placeholder="כיתה" [(ngModel)]="student.class._id" #classId="ngModel" name="class_id" required>
            <mat-option *ngFor="let classname of classes" [value]="classname._id">
              {{classname.name}}
            </mat-option>
          </mat-select>
          <mat-error data-test-id="class-id-err" *ngIf="classId.hasError('required')">כיתה הינו שדה חובה</mat-error>
        </mat-form-field>

        <mat-form-field class="username">
          <input matInput placeholder="שם משתמש" [(ngModel)]="student.username" name="username" #username="ngModel"
                 autocomplete="new-username" required appUniqueUsername userId={{student._id}} [minlength]="5" [pattern]="'^[א-תA-Za-z0-9]+$'" [ngModelOptions]="{updateOn: 'blur'}">
          <mat-error data-test-id="username-err" *ngIf="username.hasError('required')">שם משתמש הינו שדה חובה</mat-error>
          <mat-error data-test-id="username-format-length-err" *ngIf="username.hasError('pattern')">שם משתמש יכול להכיל אותיות וספרות בלבד</mat-error>
          <mat-error data-test-id="username-format-pattern-err" *ngIf="username.hasError('minlength')">שם משתמש חייב להיות לפחות חמישה תווים</mat-error>
          <mat-error data-test-id="username-unique-err" *ngIf="username.hasError('isTaken')">שם משתמש כבר קיים. אנא נסה שם משתמש אחר</mat-error>

        </mat-form-field>
        <mat-form-field class="password">
          <input matInput placeholder="סיסמא" [type]="showPassword ? 'text' : 'password'" [minlength]="8" [pattern]="'^(?=.*[א-תA-Za-z])(?=.*[0-9])[א-תA-Za-z0-9]{8,}$'" [(ngModel)]="student.password" #password="ngModel" name="password" autocomplete="new-password" required>
          <mat-icon matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error data-test-id="password-err" *ngIf="!password.valid" class="help-block">נא הכנס סיסמה</mat-error>
          <mat-error data-test-id="password-format-err" *ngIf="password.hasError('minlength') || password.hasError('pattern')">הסיסמא צריכה להכיל לפחות 8 תווים, כולל אותיות ומספרים</mat-error>
        </mat-form-field>

        <div mat-dialog-actions>
          <button mat-button data-test-id="save-button" class="msw-button-add" (click)="isNewStudent ? addStudent() : updateStudent(studentDetailsForm)"
                  [disabled]="!studentDetailsForm.valid" >שמור</button>
        </div>
      </form>
    </div>
  </div>
</div>
